<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Personal Project</title>
</head>

<body>

  <div class="landing-background-image">



    <div class="landing-main-container">



        <div class="main-landing-image-container">
          <div class="main-landing-image"><img src="images/fbbfperiod.png" alt="Social Logo"></div>
        </div>


        <div class="signup-login-container">

            <div ui-sref="signup" class="signup">
              <div class="signup-button">Sign Up</div>
            </div>

            <div ui-sref="login"class="login">
              <div class="login-button">Login</div>
            </div>

        </div>



    </div>

</div>





</body>

</html>
