<div class="signup-main-container">

<div class="signup-left-container">
  <div class="signup-text">Sign Up On the Right!</div>
</div>



<div class="inputs-signup-container">


<div class="signup-inputs">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="password" placeholder="Password">
  <input type="text" name="profileimageurl" placeholder="Profile Image URL">
  <button ui-sref="createorjoin" type="button" name="">Sign Up</button>
</div>

</div>

</div>
