.main-creategroup-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}

.create-group-text {
  font-size: 50px;
}

.create-group-image {
  height: 400px;
  width: 400px;
  background-color: black;
}

.inputs-create-group {
  display: flex;
  flex-direction: column;
}

.inputs-create-group input {
  height: 40px;
  width: 300px;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Carrois Gothic', sans-serif;
}

.inputs-create-group button {
  height: 40px;
  width: 305px;
  font-size: 30px;
  margin-top: 10px;
  font-family: 'Carrois Gothic', sans-serif;
}
