.create-join-container {
  display: flex;
  justify-content: space-around;
  height: 700px;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;

}

.create-group {
  height: 250px;
  width: 300px;
  background-color: #1800fa;
  color: white;
  font-size: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 2px 6px 5px 0px rgba(59,58,59,1);
  cursor: pointer;
}

.join-group {
  height: 250px;
  width: 300px;
  background-color: #f60909;
  color: white;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 2px 6px 5px 0px rgba(59,58,59,1);
  cursor: pointer;
}

.join-text {

}
