.landing-main-container {
  display: flex;
  height: 700px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;;

}

.landing-main-container p {
  font-size: 40px;
  margin-bottom: 50px;
  color: #f60909;
}

.landing-background-image {

}

.main-landing-image-container {

}

.main-landing-image {
  margin-top: 25px;
}

.signup-login-container {
  display: flex;

}

.signup {
  height: 40px;
  width: 100px;
  font-size: 30px;
  border: 1px;
  border-color: grey;
  padding: 50px;
  cursor: pointer;
  background-color: #1800fa;
  border-radius: 4px;
  box-shadow: 2px 6px 5px 0px rgba(59,58,59,1);
  margin-right: 25px;
}

.login {
  height: 40px;
  width: 100px;
  background-color: #f60909;
  font-size: 30px;
  padding: 50px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 2px 6px 5px 0px rgba(59,58,59,1);
  margin-left: 25px;
}

.login-button {
  color: white;
  text-align: center;
}

.signup-button {
  color: white;
  text-align: center;

}
