.login-main-container {
  display: flex;
  justify-content: space-around;;
  align-items: center;
  height: 800px;
  flex-wrap: wrap;
  background: url(upsidedownhoop.jpg) no-repeat;
  background-size: cover;
}

.login-image {
  height: 400px;
  width: 400px;
  background-color: black;
}

.login-inputs {
  display: flex;
  flex-direction: column;
}

.login-inputs input {
  height: 40px;
  width: 300px;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Carrois Gothic', sans-serif;
}

.login-inputs button {
  height: 40px;
  width: 306px;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Carrois Gothic', sans-serif;
}

.login-inputs p {
  font-size: 40px;
}
