.signup-main-container {
display: flex;
justify-content: space-around;
align-items: center;
height: 700px;
flex-wrap: wrap;
margin-left: 150px;
margin-right: 150px;
}

.signup-left-container {
  max-width: 250px;
}

.signup-text {
  color: #f60909;
  font-size: 75px;
  text-align: justify;
  font-weight: bolder;
}

.signup-inputs {
  display: flex;
  flex-direction: column;
}

.signup-inputs input {
  height: 40px;
  width: 300px;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Carrois Gothic', sans-serif;
}

.signup-inputs button {
  font-family: 'Carrois Gothic', sans-serif;
  height: 40px;
  width: 306px;
  font-size: 30px;
  margin-top: 10px;
  background-color: #1800fa;
}
