.signup-main-container {
display: flex;
justify-content: center;
align-items: center;
height: 700px;
}

.signup-inputs {
  height: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1800fa;
  border-radius: 4px;
  box-shadow: 2px 6px 5px 0px rgba(59,58,59,1);
}

.signup-inputs p {
  color: white;
  font-size: 30px;
  margin-top: 10px;
}

.signup-inputs input {
  height: 30px;
  width: 250px;
  font-size: 25px;
  margin-bottom: 10px;
  font-family: 'Carrois Gothic', sans-serif;
  border-radius: 4px;
}

.signup-inputs button {
  font-family: 'Carrois Gothic', sans-serif;
  height: 30px;
  width: 256px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 4px;
}
